@import '../../styles/_variables';

.search-results-item {
    display: flex;
    width: 100%;
    padding: 15px;
    border-left: 5px solid transparent;
    
    &:hover, &.selected {
        background: $light-gray;
        border-left-color: $green;
    }

    .item-left {
        width: 40%;
    }

    .item-right {
        width: 60%;
    }

    .title, .distance, .details-button {
        display: block;
        line-height: $line-height-l;
    }

    .title {
        font-size: $font-size-m;
        font-weight: bold;
        color: $black;
    }

    .distance {
        font-size: $font-size-xs;
        color: $dark-gray;
    }

    .details-button {
        padding: 0;
        border: none;
        background-color: transparent;
        font-size: $font-size-s;
        color: $blue;
        cursor: pointer;
    }
}